@font-face {
    src: url(../font/OpenSans-Bold.ttf);
    font-family: "OpenSans-Bold";
}

@font-face {
    src: url(../font/OpenSans-Regular.ttf);
    font-family: "OpenSans-Regular";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 20px;
}

.logo {
    margin-left: 20px;
}

header ul {
    margin-right: 20px;
}

header ul li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    color: #f5f0ed;
}

header ul li a:hover {
    color: #ff3f3f;
}

header.sticky {
    padding: 5px 30px;
    background: #241d1b;
}

header.sticky ul li a:hover {
    color: #ff3f3f;
    transition: 0.5s;
}

.texto-principal {
    background-image: url(../img/Fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.content {
    position: absolute;
    padding-top: 225px;
    width: 100%;
    color: #f5f0ed;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    font-family: "OpenSans-Bold";
    font-size: 44px;
    padding: 14px;
    text-transform: uppercase;
    line-height: 1;
}

hr {
    margin: 10px 0px 40px 0px;
    background-color: white;
    height: 3px;
    width: 10%;
    align-self: center;
}

p {
    font-size: 16px;
    font-family: "OpenSans-Regular";
}

.celebracion {
    display: flex;
}

.eventos {
    text-align: center;
    flex: 1 1 50%;
    padding: 12% 0% 12% 0%;
}

.rojo {
    background-color: #d03b40;
    color: #ded6c0;
}

.claro {
    background-color: #ded6c0;
    color: #d03b40;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    line-height: 1;
    margin-bottom: 8px;
}

.desayunar {
    background-image: url(../img/Fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f0ed;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 12% 0% 12% 0%;
}

h2 {
    font-size: 44px;
    padding: 10px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    line-height: 1;
}

.btn {
    color: #f5f0ed;
    text-decoration: none;
    text-transform: uppercase;
    border-style: solid;
    border-color: #f5f0ed;
    margin-top: 5%;
    padding: 10px;
    align-self: center;
    font-family: "OpenSans-Regular";
}

.btn:hover {
    background-color: #d03b40;
    font-weight: bold;
    transition: 0.5s;
}

.btn:active {
    color: #ded6c0;
    border-color: #ded6c0;
}

.section {
    background-color: #f5f0ed;
    display: flex;
    padding: 80px 20px 30px 20px;
}

.articulos {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.article {
    flex: 1 1 50%;
    display: flex;
    margin-bottom: 50px;
}

.article img {
    width: 160px;
    height: 160px;
    margin-right: 20px;
}

.contact {
    display: flex;
}

.contacto {
    text-align: center;
    flex: 1 1 50%;
    padding: 12% 0% 12% 0%;
}

.mail {
    text-decoration: none;
    font-weight: bold;
    color: #d03b40;
    font-size: 18px;
}

.maps {
    text-decoration: none;
    font-weight: bold;
    color: #ded6c0;
    font-size: 18px;
}

footer {
    background-color: #241d1b;
    color: #f5f0ed;
    padding: 80px 0px 80px 0px;
}

.pie {
    font-family: "OpenSans-Bold";
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}

@media all and (max-width: 1024px) {
    .texto-principal {
        height: 700px;
        overflow: hidden;
    }

    .content p br,
    .eventos p br,
    .desayunar p br,
    .contacto p br {
        display: none;
    }

    .celebracion {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px 70px 0px;
    }

    .articulos {
        flex-direction: column;
    }

    .article {
        flex-direction: column;
    }

    .article img {
        margin: 20px 0px 20px 0px;
        align-self: center;
    }

    .contact {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .texto-principal {
        height: 600px;
        overflow: hidden;
    }

    .content {
        padding-top: 180px;
        width: 100%;
    }

    .content p br,
    .eventos p br,
    .desayunar p br,
    .contacto p br {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}
